@model IEnumerable<CrudApplication.Models.Users>
@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1>Administrador de Clientes</h1>

<p>
    <a asp-action="Crear" class="btn btn-primary">Agregar Cliente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.UserId)</th>
            <th>@Html.DisplayNameFor(Model => Model.Nombres)</th>
            <th>@Html.DisplayNameFor(Model => Model.ApellidoPaterno)</th>
            <th>@Html.DisplayNameFor(Model => Model.ApellidoMaterno)</th>
            <th>@Html.DisplayNameFor(Model => Model.Telefono)</th>
            <th>@Html.DisplayNameFor(Model => Model.Email)</th>
            <th>@Html.DisplayNameFor(Model => Model.PasswordHash)</th>
            
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@Html.DisplayFor(ModelItem => item.UserId)</th>
                <th>@Html.DisplayFor(ModelItem => item.Nombres)</th>
                <th>@Html.DisplayFor(ModelItem => item.ApellidoPaterno)</th>
                <th>@Html.DisplayFor(ModelItem => item.ApellidoMaterno)</th>
                <th>@Html.DisplayFor(ModelItem => item.Telefono)</th>
                <th>@Html.DisplayFor(ModelItem => item.Email)</th>
                <th>@Html.DisplayFor(ModelItem => item.PasswordHash)</th>
                
                <th>
                    <a asp-action="Editar" asp-route-id="@item.UserId" class="btn btn-info">Editar</a>
                    <a asp-action="Borrar" asp-route-id="@item.UserId" class="btn btn-info">Borrar</a>
                </th>
            </tr>
        }
    </tbody>
</table>
